	.content {
		width: 660px;
		padding: 20px;
	}

	p {	
		line-height: 1.5em;
		font-size: 14pt;
	}
	
	img {
		float: left;
		margin-right: 20px;
		margin-bottom: 5px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}

	li {
		float: left;
		width: 175px;
		
	}
	
	div {
		margin-left: auto; 
		margin-right: auto;
		margin-top: 0px;
		padding: 30px;
		width: 800px;
		border-radius: 75px;
		background-color: rgba(350, 350, 350, 0.2);
	}
	
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	li a:hover:not(.current) {
		background-color: #111;
	}	
	
	.current {
		background-color: #838689;
	}
